.full-whrite{
    background-color: #ddd;
    height: 88%;
    right: 86.5px;
    position: absolute;
    width: 2px;
}
.matn h3{
    color: #51200b;
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
    margin-top: -11px;
    width: 150%;
}
.li{
    height: 145px;
}
.matn p {
    width: 125%;
    color: #767676;
    font-size: 16px;
    height: 88px;
    line-height: 22px;
    margin-top: 12px;
    max-width: 521px;
}
.icon{
    width: 17%;
    z-index: 2;
    margin-bottom: 80px;
    padding: 10px;
    background: white;
}

.icon img{
    width: 81%;
    background: white;
    border: 2px solid #ddd;
    border-radius: 50%;
}
.img img{
    width: 100%;
}


.none{
    display: none;
}
.block{
    display: block;
}
.org{
    display: block;
    position: absolute;
    width: 400px;
}
.blockorg{
    display: block;
}
.bold{
    width: 22%;
    z-index: 2;
    margin-bottom: 80px;
    padding: 10px;
    background: white;
}
.bold img{
    width: 75%;
    background: white;
    border: 2px solid #f6c1c1;
    border-radius: 50%;
    background: rgb(244, 206, 206);
    color: red;
}
.matn1 h3{
    color: #51200b;
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
    margin-top: -11px;
    width: 170%;
}

.images .img11{
    width: 100%;
    position: relative;
}
.none_width_big{
    display: none;
}
@media(max-width:1100px){
    .none_width_big{
        display: none;
    }
    .matn1 h3{
        font-size: 34px;
        font-weight: 600;
        line-height: 52px;
        margin-top: -11px;
        width: 170%;
    }
    .matn1 p {
        width: 115%;
        color: #767676;
        font-size: 15px;
        height: 88px;
        line-height: 19px;
        margin-top: 12px;
        max-width: 521px;
    }
}
@media(max-width:900px){
    .none_width_big{
        display: none;
    }
    .matn h3{
        font-size: 25px;
        line-height: 52px;
        width: 150%;
    }
    .matn1 h3{
        font-size: 31px;
        line-height: 52px;
        width: 170%;
    }
}
@media(max-width:700px){
    .none_width_big{
        display: none;
    }
    .matn h3{
        font-size: 19px;
        line-height: 42px;
        width: 150%;
        margin-top: 4px;
    }
    .matn1 h3{
        margin-top: 0.1px;
        font-size: 22px;
        line-height: 52px;
        width: 170%;
    }
    .full-whrite{
        right: 79.5px;
    }
    .icon img{
        width: 170%;
    }
    .bold{
        width: 30%;
        margin-bottom: 80px;
        padding: 10px;
        margin-left: -10px;
    }
    .matn1 p {
        width: 160%;
    }
}
@media(max-width:600px){
    .none_width_small{
        display: none;
    }
    .none_width_big{
        display: block;
    }
    .color_matn_image{
        width: 115%;
        color: #767676;
        font-size: 15px;
        height: 88px;
        line-height: 19px;
        margin-top: 12px;
        max-width: 521px;
    }
    .matn h3{
        font-size: 13px;
    }
    .matn1 h3{
        font-size: 15px;
        line-height: 50px;
        margin-top: -6px;
        width: 170%;
    }
    .bold{
        margin-bottom: 110px;
    }
    .icon{
        margin-bottom: 110px;
    }
    .full-whrite{
        height: 33%;
        right: 52.5px;
    }
    .matn1 p {
        font-size: 10px;
    }
    .li{
        height: 54px;
    }
}
@media(max-width:500px){
    .none_width_small{
        display: none;
    }
    .none_width_big{
        display: block;
    }
    .color_matn_image{
        width: 115%;
        color: #767676;
        font-size: 15px;
        height: 88px;
        line-height: 19px;
        margin-top: 12px;
        max-width: 521px;
    }
    .matn h3{
        font-size: 10px;
        width: max-content;
    }
    .icon img{
        width: 670%;
    }
    .matn1 h3{
        font-size: 10px;
        width: max-content;
    }
    .matn1 p {
        font-size: 10px;
        width: 198%;
    }
    .bold{
        width: 40%;
    }
}